<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Website</title>
</head>
<body>
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color=white>
<form action="createwebverify" method="post">
    
      <input class = 'home-textinput' type="string"name="createwebname" placeholder="Enter a website" required>
      <input class = 'home-textinput' type="string"name="createwebdata" placeholder="Enter the data for your website" required>
      <button type = 'submit' class = 'home-button'>Create Website</button>
      </form>
</font>
</body>
</html>