<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Website Success</title>
</head>
<body class = 'body'>
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color=white>
<p>Creating your website was successful. Your website will be found at {{ website }}. If you want to edit your website in the future, use this password: {{ password }}</p>
</font>
</body>
</html>