<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Advertisement</title>
</head>
<body class='body'>
  
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color=white>
  <div class='header'>
<h1>Advertisement Creator</h1>
</div>
<form action="createadverify" method="post">
    
      <input class = 'home-textinput' type="string"name="createaddata" placeholder="Enter your advertisement data" required>
      
      <button type = 'submit' class = 'home-button'>Create Advertisement</button>
      </form>
</font>
</body>
</html>