<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Website</title>
</head>
<body class='body'>
  
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color=white>
  <div class='header'>
<h1>Website Creator</h1>
</div>
<form action="createwebverify" method="post">
    
      <input class = 'home-textinput' type="string"name="createwebname" placeholder="Enter a website" required>
      <input class = 'home-textinput' type="string"name="createwebdata" placeholder="Enter the website data" required>
      <input class = 'home-textinput' type="string"name="createwebpassword" placeholder="Create a password to edit site" required>
      <button type = 'submit' class = 'home-button'>Create Website</button>
      </form>
</font>
</body>
</html>