<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Website</title>
</head>
<body class='body'>
  
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<font color=white>
  <div class='header'>
<h1>Website Editor</h1>
</div>
<form action="editwebverify" method="post">
    
      <input class = 'home-textinput' type="string"name="editwebpassword" placeholder="Enter your editing password" required>
      <input class = 'home-textinput' type="string"name="editwebname" placeholder="Enter your website" required>
      <input class = 'home-textinput' type="string"name="editwebdata" placeholder="Enter the new data" required>
      <button type = 'submit' class = 'home-button'>Edit Website</button>
      </form>
</font>
</body>
</html>