

<body>
  <link rel = "stylesheet" href = 'static/main.css'
  <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <div class='container'>
    <h1 class='home-title'>PlutoniumNetwork</h1>
      <form action="search" method="post">
    
      <input class = 'home-textinput' type="string"name="url" placeholder="Search anything..." required>
      <button type = 'submit' class = 'home-button'>Go!</button>
      </form>
  </div>
<div class = 'bottom-row'>
  <form action="create" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Create Website</button>
  </form>
  <form action="edit" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Edit Website</button>
  </form>
  <form action="Create" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Create Ad</button>
  </form>
</div>


</body>
