<head>
  <link rel="icon" href= "https://cdn.iconscout.com/icon/free/png-256/pluto-2-215133.png">
</head>

<body class = 'body'>
  <link rel = "stylesheet" href = 'static/main.css'>
  <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
  <div class='container'>
    <h1 class='home-title'>PlutoniumNetwork</h1>
      <form action="search" method="post">
    
      <input class = 'home-textinput' type="string"name="url" placeholder="Search anything..." required>
      <button type = 'submit' class = 'home-button'>Go!</button>
      </form>
  </div>
<div class = 'bottom-row'>
  <form action="createweb" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Create Website</button>
  </form>
  <form action="editweb" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Edit Website</button>
  </form>
  <form action="createad" method="post">
  <button type = 'submit' class = 'bottom-row-button'>Create Ad</button>
  </form>
 <!-- link this to sugnup.html -->
  

  <form action="signup" method="post">
    <button type = 'submit' class = 'bottom-row-button'>Sign Up</button>
  </form>
    <p class = 'time'><span id="time"></span> </p>
    <p class = 'time'><span id="weather"></span> </p>
</div>
<?PHP
echo shell_exec("python weather.py");
?>
<script>
  function refreshTime() {
    const dateString = new Date().toLocaleTimeString();
    const formattedString = dateString.replace(", ", " - ");
    $('#time').text(formattedString)
  } 
  setInterval(refreshTime, 1000);
</script>
</body>